<section id="footer" class="pt-4">
    <div class="container">
        <div class="row d-flex align-items-center mb-3">
            <div class="col text-center">
                <app-logo [ChosenLogo]='ChosenLogo'></app-logo>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand w-100 bg-transparent">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <ng-container *ngFor="let item of navItems">
                                <app-nav-item [itemLabel]="item.itemLabel" [itemLink]="item.itemLink"
                                    [itemIcon]="item.itemIcon"></app-nav-item>
                            </ng-container>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </div>
</section>