<section id="footer" class="pt-4">
    <div class="container">
        <div class="row d-flex align-items-center mb-3">
            <div class="col text-center">
                <app-logo [ChosenLogo]='ChosenLogo'></app-logo>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand w-100 bg-transparent">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#">Sitemap</a>
                            </li>
                            <span> | </span>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#">Global Privacy Policy</a>
                            </li>
                            <span> | </span>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#">Cookies Statement</a>
                            </li>
                            <span> | </span>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#">Site Useage Agreement</a>
                            </li>
                            <span> | </span>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#"><img style="padding-right: 5px; margin-bottom: 8px;"
                                        src="../../assets/Advert Icon.png" width="20px"
                                        alt="Advert Icon" />AdChoices</a>
                            </li>
                            <span> | </span>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#">© 2018 Hilton</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </div>
</section>