<section id="sub-row" class="mt-3 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 left-section">
                <div class="content align-items-end">
                    <div class="content-box">
                        <p class="h2 font-weight-bold pb-2">LOREM IPSUM <br /> DOLOR SIT</p>
                        <p class="pb-2">
                            Quisque mollis purus ut feugiat pretium. Integer nec mauris ac mauris ultricies egestas.
                            Vivamus quis molestie enim.
                        </p>
                        <app-button [btnLabel]="btnLabel"></app-button>
                    </div>
                </div>
            </div>
            <div class="middle-gap">

            </div>
            <div class="col d-flex right-section">
                <div class="content align-self-end">
                    <p class="text-white h2 font-weight-bold">MORBI <br />SOLLICITUDIN</p>
                </div>
            </div>
        </div>
    </div>
</section>